.card {
    flex-basis: calc(100% / 6 - 2rem);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0;

    .container-image {
        width: 100%;

        img {
            width: 160px;
            height: 160px;
            object-fit: cover;
            object-position: top;
        }
    }

    .subtitle {
        text-transform: uppercase;
        color: white;
        font-size: 0.8rem;
        padding-top: 1rem;
    }
}
